{%  include 'app/head.html' %}
<body>
    {%  include 'app/navbar.html' %}
    <div class="heading"><i class="fas fa-walking"></i>Activities</div>
    {% for activity in activityList %}
        <div class="item">
            <i class="fas fa-walking"></i>
            <a href="{% url 'detailPerson' activity.person.id %}">{{activity.actor}}</a>
            {{activity.verb}}
            {{activity.object}}
            {{activity.timestamp}}
        </div>
    {% endfor %}
  
    {% if activityList.has_other_pages %}
                <ul class="pagination justify-content-center">
                {% if activityList.has_previous %}
                    <li class="page-link "><a href="?page={{ activityList.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled page-link"><span>&laquo;</span></li>
                {% endif %}
                {% for i in activityList.paginator.page_range %}
                    {% if activityList.number == i %}
                    <li class="page-link active"><span>{{ i }} <span class="sr-only"></span></span></li>
                    {% else %}
                    <li class="page-link"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if activityList.has_next %}
                    <li class="page-link"><a href="?page={{ activityList.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-link disabled"><span>&raquo;</span></li>
                {% endif %}
                </ul>
            {% endif %}    

</body>
</html>