{%  include 'app/head.html' %}
<body>
    {%  include 'app/navbar.html' %}
    <div class="heading">Activities</div>
    {% for activity in activityList %}
        <div class="item">
            <a href="{% url 'detailPerson' activity.person.id %}">{{activity.actor}}</a>
            {{activity.verb}}
            {{activity.object}}
            {{activity.timestamp}}
        </div>
    {% endfor %}
    <div class="center">
    {% if activityList.has_other_pages %}
                <ul class="pagination">
                {% if activityList.has_previous %}
                    <li><a href="?page={{ activityList.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in activityList.paginator.page_range %}
                    {% if activityList.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if activityList.has_next %}
                    <li><a href="?page={{ activityList.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
                </ul>
            {% endif %}    
    </div>      
</body>
</html>