{%  include 'app/head.html' %}
<body>
    {%  include 'app/navbar.html' %}
    <div class="heading">Courses</div>
    {% for course in courses%}
       <div class="item">
           <a href="{% url 'detailCourse' course.0 %}">{{ course.1 }}</a>
       </div>
    {% endfor %}
    
    {% if courses.has_other_pages %}
    <ul class="pagination">
      {% if courses.has_previous %}
        <li><a href="?page={{ courses.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in courses.paginator.page_range %}
        {% if courses.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if courses.has_next %}
        <li><a href="?page={{ courses.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
</body>
</html>