{%  include 'app/head.html' %}
<body>
   
    {%  include 'app/navbar.html' %}
<div class="container">
  <div class="row">
    <div class="col backgroundWhite">
      <h3>Persons:</h3> 
      <canvas id="bar-chart4" width="33%" height="33%" ></canvas>
    </div>
    <div class="col backgroundWhite">
      <h3> Activities:</h3>
      <canvas id="bar-chart5" width="33%" height="33%" ></canvas>
    </div>
    <div class="col backgroundWhite">
     <h3>Last activities</h3>
     <ul >
    {% for activity in lastActivities %}
          <li >
              <a href="{% url 'detailPerson' activity.person.id %}">{{activity.actor}}</a>
              {{activity.verb}}
              {{activity.object}}
              {{activity.timestamp}}
          </li>
      {% endfor %}
     </ul>
    </div>   
  </div>
  <div class="row ">
    <div class="col backgroundWhite">
      <canvas id="bar-chart" width="33%" height="33%" ></canvas>
    </div>
    <div class="col backgroundWhite">
      <canvas id="line-chart"  width="33%" height="33%" ></canvas>
    </div>
    <div class="col backgroundWhite">
      <canvas id="bar-chart3" width="33%" height="33%" ></canvas>
    </div>
  </div>
</div>
<script>
      new Chart(document.getElementById("bar-chart"), {
          type: 'bar',
          data: {
            labels:  [{% for pers in personsInteractions %}"{{pers.0}}", {% endfor %}],
            datasets: [
              {
                label: "Interactions",
                backgroundColor: [{% for pers in personsInteractions %}"#c45850", {% endfor %} ],
                data: [{% for pers in personsInteractions %} {{pers.1}} , {% endfor %}]
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: ''
            }
          }
      });
      
      new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
          labels: [{% for day in lastDays %}"{{day.0}}", {% endfor %}],
          datasets: [{ 
              data: [{% for day in lastDays %}"{{day.1}}", {% endfor %}],
              label: "Interactions",
              borderColor: "#c45850",
              fill: false
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'World population per region (in millions)'
          }
        }
      });
      new Chart(document.getElementById("bar-chart3"), {
          type: 'bar',
          data: {
            labels:  [{% for act in activitiesInteractions %}"{{act.0}}", {% endfor %}],
            datasets: [
              {
                label: "Interactions",
                backgroundColor: [{% for act in activitiesInteractions %}"#c45850", {% endfor %} ],
                data: [{% for act in activitiesInteractions %} {{act.1}} , {% endfor %}]
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: 'Predicted world population (millions) in 2050'
            }
          }
      });
      new Chart(document.getElementById("bar-chart4"), {
          type: 'bar',
          data: {
            labels:  ["Persons", ],
            datasets: [
              {
                label: "Interactions",
                backgroundColor: ["#c45850",  ],
                data: [ {{personCount}} , ]
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: ''
            }
          }
      });
      new Chart(document.getElementById("bar-chart5"), {
          type: 'bar',
          data: {
            labels:  ["Activities", ],
            datasets: [
              {
                label: "Interactions",
                backgroundColor: ["#c45850",  ],
                data: [ {{activityCount}} , ]
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: ''
            }
          }
      });
      
    </script>
</body>
</html>