{%  include 'app/head.html' %}
<body>
    {%  include 'app/navbar.html' %}
    <h2>{{ person.person_name }}</h2>
    <div class="container">
       <div class="row">
           <div class="col backgroundWhite">
            <canvas id="bar-chart" width="33%" height="33%" ></canvas>
           </div>
           <div class="col backgroundWhite">

           </div>
           <div class="col backgroundWhite">
            <canvas id="bar-chart3" width="33%" height="33%" ></canvas>
        </div>
       </div> 
    
    <div class="row">
        <div class="col backgroundWhite">
            <h3>Last activities</h3>
            <ul >
          {% for activity in lastActivities %}
                <li>
                    <a href="{% url 'detailPerson' activity.person.id %}">{{activity.actor}}</a>
                    {{activity.verb}}
                    {{activity.object}}
                    {{activity.timestamp}}
                </li>
            {% endfor %}
              </ul>
        </div>
        <div class="col backgroundWhite">

        </div>
        <div class="col backgroundWhite">
           
     </div>
    </div> 
 </div>
</div>
</body>
<script>
   new Chart(document.getElementById("bar-chart3"), {
          type: 'bar',
          data: {
            labels:  [{% for act in activitiesInteractions %}"{{act.0}}", {% endfor %}],
            datasets: [
              {
                label: "Interactions",
                backgroundColor: [{% for act in activitiesInteractions %}"#c45850", {% endfor %} ],
                data: [{% for act in activitiesInteractions %} {{act.1}} , {% endfor %}]
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: 'Predicted world population (millions) in 2050'
            }
          }
      });
    </script>
</html>